
.t-radio__item.t-contact-method__type.t-text.t-text_xs {
    color: #fff;
}

@media screen and (max-width: 960px) {
    .t-text_xs {
        font-size: 13px !important;
    }
    span.t-contact-method__title{
        font-size: 13px !important;
    }
}
